$buttons-font-family:   $base-font-family;
$buttons-font-size:     $base-font-size;
$buttons-font-weight:   600;
$buttons-line-heigth:   1;
$buttons-cursor:        pointer;
$buttons-border:        0;
$buttons-border-radius: $base-border-radius;
// $buttons-text-transform:;
$buttons-text-align: center;
$buttons-padding:       $small-spacing $base-spacing;
// $buttons-color:;
$buttons-bg:            $base-button-bg;
$buttons-hover-bg:      shade($base-button-bg, 20%);
// $buttons-hover-color:;
// $buttons-disabled-bg:;
// $buttons-disabled-color:;


////////
$base-button-bg: $action-color;
$base-button-bg-hover: shade($action-color, 20%);

// Block
.button {
  appearance: none;
  background-color: $buttons-bg;
  border: $buttons-border;
  border-radius: $buttons-border-radius;
  color: contrast-switch($base-button-bg);
  cursor: $buttons-cursor;
  display: inline-block;
  font-family: $buttons-font-family;
  -webkit-font-smoothing: antialiased;
  font-weight: $buttons-font-weight;
  line-height: $buttons-line-heigth;
  padding: $buttons-padding;
  text-align: $buttons-text-align;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  font-size: $base-font-size;

  &:hover{
    color: contrast-switch($base-button-bg);
  }

  // Dimesions modifiers
  @each $name, $pair in $font-dimensions {
     @include modifier($name){
      font-size: nth($pair, 1);
    }
  }

  // Color modifiers
  @each $name, $value in $palette{
    @include modifier($name){
      background-color: nth($value, 1);
      color: nth($value, 2);
      &:hover{
        color: nth($value, 2);
      }
    }
  }
}
