$forms-font-family:         $base-font-family !default;
$forms-font-weigth:         600 !default;
$forms-font-size:           $base-font-size !default;
$forms-border-radius:       $base-border-radius !default;
$forms-border-color:        $base-border-color !default;
$forms-border-size:         1px !default;
$forms-border-style:        solid !default;
$forms-box-shadow:          inset 0 0 1px $light-grey, 0 2px 4px darken($white, 10%) !default;
$forms-disabled-bg:         shade($base-background-color, 5%) !default;

$forms-inputs-bg:           $forms-border-color !default;
$forms-textarea-min-height: 120px !default;
$forms-textarea-max-height: 600px !default;

fieldset {
  background-color: transparent;
  border: $forms-border-size $forms-border-style $forms-border-color;
  border-radius: $forms-border-radius;
  box-shadow: $forms-box-shadow;
  margin: 0;
  @include from($desktop) {
    padding: 0 2em 1em;
  }
}

legend {
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
  padding: 1em;
}

label {
  display: block;
  font-weight:  $forms-font-weigth;
  margin-bottom: $small-spacing / 2;
}

input,
select,
textarea {
  display: block;
  font-family: $forms-font-family;
  font-size: $forms-font-size;
}

#{$all-text-inputs} {
  appearance: none;
  background-color: $forms-inputs-bg;
  border: $base-border;
  border-radius: $base-border-radius;
  box-sizing: border-box;
  margin-bottom: $small-spacing;
  padding: $base-spacing / 3;
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    border-color: $action-color;
    outline: none;
  }

  &:disabled {
    background-color: $forms-disabled-bg;
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }

  &::placeholder {
    color: tint($base-font-color, 40%);
  }
}

textarea {
  resize: vertical;

  &:not([rows]) {
    max-height: $forms-textarea-max-height;
    min-height: $forms-textarea-min-height;
  }
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $small-spacing;
  width: 100%;
}

[type="checkbox"],
[type="file"],
[type="radio"],
select {
  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
}

.chained-fields {
  display: flex;

  div {
    &:first-child {
      [class^="button"] {
        border-radius: $base-border-radius 0 0 $base-border-radius;
      }
    }

    &:last-child {
      [class^="button"] {
        border-radius: 0 $base-border-radius $base-border-radius 0;
      }

      [class^="button"] {
        padding-bottom: 0.53em;
      }
    }

    &:not(:last-child) {
      margin-right: -1px;

      [class^="button"] {
        padding-bottom: 0.53em;
      }
    }

    &:not(:first-child):not(:last-child) {
      [class^="button"] {
        border-radius: 0;
      }
    }
  }
}

.grouped-fields {
  @include modifier(fullwidth) {
    div {
      flex-grow: 1;
      flex-shrink: 1;
    }
  }
  @include from($desktop) {
    display: flex;
    justify-content: flex-start;

    div {
      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: $small-spacing;
      }
    }
  }
}

.select {
  display: inline-block;
  position: relative;

  &::after {
    @include _directional-property(border, null, 0 0 null null);
    border-width: thin;
    border-style: solid;
    border-color: shade($base-border-color, 20%);

    content: " ";
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 0.5em;
    margin-top: 0.275em;
    right: 1.125em;
    top: 50%;
    z-index: 4;
  }

  select {
    color: inherit;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 2.063em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: $base-spacing / 3;
    padding-right: 3em;
    position: relative;
    vertical-align: top;
    border-color: $base-border-color;
    border: $base-border;
    cursor: pointer;
    display: block;
    max-width: 100%;
    outline: none;

    &:hover {
      border-color: shade($base-border-color, 20%);
    }

    select {
      &.is-focused,
      &:active,
      &:focus {
        outline: none;
      }

      &[disabled] {
        cursor: not-allowed;
      }

      &::-moz-placeholder,
      &::-webkit-input-placeholder {
        color: rgba(54, 54, 54, 0.3);
      }

      &::-ms-expand {
        display: none;
      }
    }
  }
}
