$layout-body-margin:                0  !default;
$layout-conatainer-width:           960px !default;
$layout-mobile-conatainer-width:    100% !default;
$layout-mobile-conatainer-padding:  0 20px !default;

html {
  box-sizing: border-box;
  background: $base-bg;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body,
html {
  height: 100%;
}

body {
  margin: $layout-body-margin;
  color: $base-color;
}

.container {
  margin: 0 auto;
  @include from($desktop) {
    width: $layout-conatainer-width;
  }
  @include until($desktop) {
    width: $layout-mobile-conatainer-width;
    padding: $layout-mobile-conatainer-padding;
  }
}
