$tables-width:                  100% !default;
$tables-layout:                 fixed !default;
$tables-border-collapse:        collapse !default;
$tables-border-spacing:         0 !default;
$tables-margin:                 0 0 $small-spacing !default;
$tables-cells-padding:          0.5em 0.75em !default;
$tables-bg:                     white !default;
$tables-cells-border:           1px solid $base-border-color !default;
$tables-cells-border-width:     0 0 1px 0 !default;

$tables-th-text-align:          left !default;
$tables-th-font-family:         $base-font-family !default;
$tables-th-font-weight:         $base-font-weight !default;
$tables-th-font-variant:        small-caps !default;
$tables-th-text-transform:      uppercase !default;

$tables-actions-text-align:     right !default;

$tables-striped-bg:             #fafafa !default;
$tables-cells-border-width:     0 0 1px 0;


$tables-mobile-th-color:        grey !default;
$tables-mobile-th-font-size:    10pt !default;
$tables-mobile-border:          1px solid $base-border-color !default;
$tables-mobile-bottom-margin:   $small-spacing !default;

.table {
  width: $tables-width;
  table-layout: $tables-layout;
  background-color: $tables-bg;
  border-collapse: $tables-border-collapse;
  border-spacing: $tables-border-spacing;
  margin: $tables-margin;

  td,
  th {
    @include padding($tables-cells-padding);
    border: $tables-cells-border;
    border-width: $tables-cells-border-width;
  }

  th {
    text-align: $tables-th-text-align;
    font-family: $tables-th-font-family;
    font-weight: $tables-th-font-weight;
    font-variant: $tables-th-font-variant;
    text-transform: $tables-th-text-transform;
  }

  td.table__actions {
    text-align: $tables-actions-text-align;
  }
  // Modifiers
  @include modifier(bordered) {
    tr:last-child {
      td,
      th {
        border-bottom-width: 1px;
      }
    }

    td,
    th {
      border: $tables-cells-border;
      border-width: 1px;
    }
  }
  @include modifier(striped) {
    tbody tr:nth-child(2n):not(.is-selected) {
      background-color: $tables-striped-bg;
    }
  }
  // mobile style
  @include until($desktop) {
    display: block;
    border-bottom-width: 0;

    tbody,
    td,
    th,
    thead,
    tr {
      display: block;
    }

    thead {
      background-color: transparent;
      border-width: 0;

      tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
    }

    tr {
      display: block;
      border: $tables-mobile-border;
      margin-bottom: $tables-mobile-bottom-margin;
    }

    td {
      border-bottom: $tables-mobile-border;
      white-space: normal;
      text-align: left;

      &:last-child {
        border-bottom-width: 0;
      }

      &:before {
        color: $tables-mobile-th-color;
        font-size: $tables-mobile-th-font-size;
        content: attr(data-title);
        font-variant: small-caps;
        text-transform: uppercase;
        display: block;
      }
    }
  }
}
