// $tables-width:;
// $tables-layout:;
// $tables-border-collapse:;
// $tables-border-spacing:;
// $tables-margin:;
// $tables-bg:;
//
//
// $tables-cells-text-align:;
// $tables-cells-font-family:;
// $tables-cells-font-size:;
// $tables-cells-font-weight:;
// $tables-cells-font-variant:;
// $tables-cells-text-transform:;
// $tables-cells-padding:;
// $tables-cells-border:;
//
// $tables-th-text-align:;
// $tables-th-font-family:;
// $tables-th-font-size:;
// $tables-th-font-weight:;
// $tables-th-font-variant:;
// $tables-th-text-transform:;
// $tables-th-padding:;
// $tables-th-border:;
//
// $tables-td-text-align:;
// $tables-td-font-family:;
// $tables-td-font-size:;
// $tables-td-font-weight:;
// $tables-td-font-variant:;
// $tables-td-text-transform:;
// $tables-td-padding:;
// $tables-td-border:;
//
// $tables-actions-text-align:;

.table {
  width: 100%;
  table-layout: fixed;
  background-color: white;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 $small-spacing;

  td,
  th {
    @include padding(0.5em 0.75em);
    border-bottom: 1px solid $base-border-color;
  }

  th {
    text-align: left;
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    font-variant: small-caps;
    text-transform: uppercase;
  }

  td.table__actions {
    text-align: right;
  }
  // Modifiers
  @include modifier(bordered) {
    tr:last-child {
      td,
      th {
        border-bottom-width: 1px;
      }
    }

    td,
    th {
      border: 1px solid #dbdbdb;
      border-width: 1px;
    }
  }
  @include modifier(striped) {
    tbody tr:nth-child(2n):not(.is-selected) {
      background-color: #fafafa;
    }
  }
  // mobile style
  @include until($desktop) {
    display: block;
    border-bottom-width: 0;

    tbody,
    td,
    th,
    thead,
    tr {
      display: block;
    }

    thead {
      background-color: transparent;
      border-width: 0;

      tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
    }

    tr {
      display: block;
      border: 1px solid $base-border-color;
      margin-bottom: $small-spacing;
    }

    td {
      border-bottom: 1px solid $base-border-color;
      white-space: normal;
      text-align: left;

      &:last-child {
        border-bottom-width: 0;
      }

      &:before {
        color: grey;
        font-size: 10pt;
        content: attr(data-title);
        font-variant: small-caps;
        text-transform: uppercase;
        display: block;
      }
    }
  }
}
