@charset "utf-8";

$fa-font-path: "/fonts/font-awesome";

@import "font-awesome";

$base-color: purple;
$base-action-active-bg: purple;
$base-action-active-color: white;

@import "../../../all";

@import "syntax";
.highlight{
  position: relative;
  pre{
    padding: 2.5rem 0.5rem 0.5rem 0.5rem;
    overflow: hidden;
    overflow-x: auto;
    border-radius: $base-border-radius;
  }
  .copy{
    // left: 0;
    @extend .button--small;
    position: absolute;
    top: 0;
    right: 10px;
    margin-top: 10px;
  }
}
