@charset "utf-8";

$fa-font-path: "/fonts/font-awesome";

@import "font-awesome";

$base-color: purple;
$base-action-active-bg: purple;
$base-action-active-color: white;

@import "../../../all";

.highlight{
  pre{
    padding: 2rem;
    border-radius: $base-border-radius;
  }
}
