$boxes-bg:                   $white !default;
$boxes-color:                $dark-grey !default;
$boxes-box-border-color:     $light-grey !default;
$boxes-border-radius:        $base-border-radius !default;
$boxes-box-border:           1px solid $boxes-box-border-color !default;
$boxes-box-background:       $white !default;
$boxes-box-gutter:           0.4em !default;
$boxes-box-width:            18em !default;
$boxes-box-color:            transparentize($boxes-color, 0.3) !default;
$boxes-box-top-colors:       $red, $turquoise, $purple, $yellow, $grey, $orange !default;

.flex-boxes {
  @include clearfix;
  align-items: stretch;
  clear: both;
  @include display-flex;
  @include flex-wrap(wrap);

  .flex-box {
    align-self: stretch;
    background: $boxes-box-background;
    border-radius: $boxes-border-radius;
    box-shadow: inset 0 0 1px $boxes-box-border-color, 0 2px 4px darken($boxes-bg, 10%);
    display: block;
    flex: 2 2 15em;
    margin: $boxes-box-gutter;
    padding: 2em 2em 3em;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    .flex-title {
      font-size: 1.2em;
      margin-bottom: 0.5em;
    }

    // colors modifiers
    @each $name, $color in $palette {
      @include modifier($name){
        background: nth($color, 1);
        color: nth($color, 2);
      }
    }

    @include modifier(big){
      flex: 1 1 40em;
    }
  }
}
