$footer-font-family:  $base-font-family !default;
$footer-font-size:    $base-font-size !default;
$footer-text-align:   center !default;
$footer-padding:      10px 0 5px !default;
$footer-bg:           $base-footer-bg !default;
$footer-color:        $base-color !default;
$footer-border-top:   1px solid #ddd !default;

$footer-mobile-font-size: $small-font-size !default;


.footer {
  background-color: $footer-bg;
  padding: $footer-padding;
  font-size: $footer-font-size;
  text-align: $footer-text-align;
  border-top: $footer-border-top;
  color: $footer-color;
  margin-top: 4rem;
  @include until($tablet){
    font-size: $footer-mobile-font-size;
  }
}
