$pagination-hide-until:     $tablet !default;
$pagination-border-color:   $base-border-color !default;
$pagination-border-radius:  $base-border-radius !default;

$pagination-links-color:          $base-link-color !default;
$pagination-links-hover-color:    $base-link-hover-color !default;
$pagination-links-bg:             $base-link-hover-bg !default;

$pagination-links-active-bg:      $base-action-active-bg !default;
$pagination-links-active-color:   $base-action-active-color !default;

.pagination {
  @include display-flex;
  @include flex-alignment(center);
  @include element(list) {
     @include display-flex;
    @include flex-alignment(center);
    @include flex-wrap(wrap);
    @include until($pagination-hide-until) {
      display: none;
    }
  }

  @include element(link){
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid $pagination-border-color;
    border-radius: $pagination-border-radius;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0 0.25rem;
    @include flex-alignment(center);
    @include display-flex(inline);
    @include flex-start;
    @include padding(calc(0.375em - 1px) calc(0.625em - 1px) calc(0.275em - 1px) calc(0.625em - 1px));
    @include position(relative, null null null null);
    @include no-select;
    @include flex-alignment(center);

    &:hover {
      border-color: $pagination-border-color;
      color: $pagination-links-hover-color;
      outline: none;
    }

    &:focus {
      border-color: $pagination-border-color;
      outline: none;
    }

    &:active {
      -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
      box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
      outline: none;
    }

    &[disabled] {
      cursor: not-allowed;
      background-color: $pagination-border-color;
      border-color: $pagination-border-color;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: #7a7a7a;
      opacity: 0.5;
    }

    @include modifier(next){
      padding-left: 0.75em;
      padding-right: 0.75em;
      white-space: nowrap;
    }
    @include modifier(previous){
      padding-left: 0.75em;
      padding-right: 0.75em;
      white-space: nowrap;
    }
    @include modifier(active){
      background-color: $pagination-links-active-bg;
      border-color: $pagination-links-active-bg;
      color: $pagination-links-active-color;
      outline: none;
      &:hover{
        color: $pagination-links-active-color;
      }
    }

  }

}

@media screen and (max-width: 768px) {
  .pagination {
    @include flex-wrap(wrap);
  }

  .pagination__list li,
  .pagination__link--next,
  .pagination__link--previous {
    @include flex-grow(1);
    flex-shrink: 1;
  }
}

@media screen and (min-width: 769px), print {
  .pagination__list {
    @include flex-grow(1);
    flex-shrink: 1;
    @include flex-start;
    @include flex-order(1);
  }

  .pagination__link--previous {
    @include flex-order(2);
  }

  .pagination__link--next {
    @include flex-order(3);
  }

  .pagination {
    @include flex-alignment(justify);
  }
}
