$slide-menu-width:    256px !default;
$slide-menu-bg:       $base-action-bg !default;

.slide__menu{
  display: none;
  @include mobile{
    display: block;
    margin-bottom: 3rem;
  }
}

.slideout-menu {
  @include position(fixed,0 null 0 null);
  width: $slide-menu-width;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  section, aside, .menu{
    background-color: $base-action-bg;
    padding-bottom: 3rem;
  }
}

.slideout-menu-left{left: 0;}
.slideout-menu-right{right: 0;}

.slideout-panel {
  @include position(relative,null null null null);
  z-index: 1;
  will-change: transform;
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}
