$tabs-border-bottom-color:              $base-border !default;
$tabs-border-bottom-style:              solid !default;
$tabs-border-bottom-width:              1px !default;
$tabs-link-color:                       $base-color !default;
$tabs-link-hover-border-bottom-color:   $black !default;
$tabs-link-hover-color:                 $base-color !default;
$tabs-link-active-border-bottom-color:  $base-color !default;
$tabs-link-active-color:                $base-bg !default;
$tabs-link-padding:                     0.5em 1em !default;

$tabs-boxed-link-radius:                    $base-border-radius !default;
$tabs-boxed-link-hover-background-color:    $base-bg !default;
$tabs-boxed-link-hover-border-bottom-color: $base-color !default;

$tabs-boxed-link-active-background-color:     $white !default;
$tabs-boxed-link-active-border-color:         $base-border !default;
$tabs-boxed-link-active-border-bottom-color:  transparent !default;

$tabs-toggle-link-border-color:             $base-border-color !default;
$tabs-toggle-link-border-style:             solid !default;
$tabs-toggle-link-border-width:             1px !default;
$tabs-toggle-link-hover-background-color:   $base-bg !default;
$tabs-toggle-link-hover-border-color:       $base-border-color !default;
$tabs-toggle-link-radius:                   $base-border-radius !default;
$tabs-toggle-link-active-background-color:  $base-action-active-bg !default;
$tabs-toggle-link-active-border-color:      $base-action-active-color !default;
$tabs-toggle-link-active-color:             $base-bg !default;

.tabs {

  align-items: stretch;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
  flex-direction: column;

  @include element(list){
    align-items: center;
    border-bottom-color: $tabs-border-bottom-color;
    border-bottom-style: $tabs-border-bottom-style;
    border-bottom-width: $tabs-border-bottom-width;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-start;
    @include element(item){
      display: block;
      a {
        align-items: center;
        border-bottom-color: $tabs-border-bottom-color;
        border-bottom-style: $tabs-border-bottom-style;
        border-bottom-width: $tabs-border-bottom-width;
        color: $tabs-link-color;
        display: flex;
        justify-content: center;
        margin-bottom: -#{$tabs-border-bottom-width};
        padding: $tabs-link-padding;
        vertical-align: top;
        &:hover {
          border-bottom-color: $tabs-link-hover-border-bottom-color;
          color: $tabs-link-hover-color;
        }
      }
      @include modifier(active){
        a, a:hover {
          border-bottom-color: $base-action-active-bg;
          color: $base-action-active-bg;
        }
      }
    }
  }

  @include element(content){
    width: 100%;
    margin: 0;
    @include element(item){
      display: none;
      @include modifier(active){
        display: block;
      }
    }
  }


  // modifiers for style
  @include modifier(boxed){
    .tabs__list{
      .tabs__list__item{
        a{
          border: 1px solid transparent;
          border-radius: $tabs-boxed-link-radius $tabs-boxed-link-radius 0 0;
          &:hover {
            background-color: $tabs-boxed-link-hover-background-color;
            border-bottom-color: $tabs-boxed-link-hover-border-bottom-color;
          }
        }
      }
      .tabs__list__item--active{
        a, a:hover {
          background-color: $tabs-toggle-link-active-background-color;
          border-color: $tabs-boxed-link-active-border-color;
          border-bottom-color: $tabs-boxed-link-active-border-bottom-color !important;
          color: $base-action-active-color;
        }
      }
    }
  }


  @include modifier(bar){
    .tabs__list{
      border-bottom: none;
      .tabs__list__item{
        a {
          border-color: $tabs-toggle-link-border-color;
          border-style: $tabs-toggle-link-border-style;
          border-width: $tabs-toggle-link-border-width;
          margin-bottom: 0;
          position: relative;
          &:hover {
            background-color: $tabs-toggle-link-hover-background-color;
            border-color: $tabs-toggle-link-hover-border-color;
            z-index: 2;
          }
        }

        & + .tabs__list__item {
          margin-left: -#{$tabs-toggle-link-border-width};
        }
        &:first-child a {
          border-radius: $tabs-toggle-link-radius 0 0 $tabs-toggle-link-radius;
        }
        &:last-child a {
          border-radius: 0 $tabs-toggle-link-radius $tabs-toggle-link-radius 0;
        }
      }
      .tabs__list__item--active{
        a, a:hover {
          background-color: $tabs-toggle-link-active-background-color;
          border-color: $tabs-toggle-link-active-border-color;
          color: $tabs-toggle-link-active-color;
          z-index: 1;
        }
      }
    }
  }

  // modifiers for alignments
  @include modifier(fullwidth){
    .tabs__list__item {
      flex-grow: 1;
      flex-shrink: 0;
    }
  }

  @include modifier(centered){
    .tabs__list {
      flex: none;
      justify-content: center;
      padding-left: 0.75em;
      padding-right: 0.75em;
    }
  }

  @include modifier(left){
    .tabs__list {
      padding-right: 0.75em;
    }
  }

  @include modifier(right){
    .tabs__list {
      justify-content: flex-end;
      padding-left: 0.75em;
    }
  }

  // modifiers for dimensions
  @include modifier(small){font-size: $small-font-size;}
  @include modifier(medium){font-size: $medium-font-size;}
  @include modifier(large){font-size: $large-font-size;}

  // icon?
  .icon {
    &:first-child {
      margin-right: 0.5em;
    }
    &:last-child {
      margin-left: 0.5em;
    }
  }
}
