$badge-border-size: .1rem !default;
$badge-border-radius: 1rem !default;

.badge{
  position: relative;
  white-space: nowrap;
  position: relative;
  &[data-badge]::after{
    position: absolute;
    left: 100%;
    z-index: 99;
    margin: 0;
    background: $base-color;
    background-clip: padding-box;
    border-radius: $badge-border-radius;
    box-shadow: 0 0 0 $badge-border-size $white;
    color: $white;
    content: attr(data-badge);
    display: inline-block;
    top: calc(0px - ( 0.8rem / 2 ));
    left: calc(100% - ( 0.8rem / 2 ));
    min-height: 1rem;
    min-width: 1rem;
    font-size: 10pt;
  }
  &:not([data-badge=""])::after{
    padding: .3rem .5rem;
    text-align: center;
    white-space: nowrap;
  }
  &[data-badge=""]::after{
    display: inline-block;
    vertical-align: inherit;
  }

  &.is-badge-outlined{
    &[data-badge]::after{
      background-color: $white;
      box-shadow: none;
      border: $badge-border-size solid $base-color;
      color: $base-color;
    }
  }

  // Color modifiers
  @each $name, $value in $palette{
    @include modifier($name){
      &:not([data-badge=""])::after,{
        background-color: nth($value, 1);
        color: nth($value, 2);
      }
    }
  }

}
