$button-font-family:     $base-font-family !default;
$button-font-size:       $base-font-size !default;
$button-font-weight:     600 !default;
$button-line-heigth:     1 !default;
$button-cursor:          pointer !default;
$button-border:          0 !default;
$button-border-radius:   $base-border-radius !default;
$button-text-transform:  none !default;
$button-text-align:      center !default;
$button-padding:         $small-spacing $base-spacing !default;

$button-color:           $base-action-color !default;
$button-bg:              $base-action-bg !default;

$button-hover-color:     $base-action-hover-color !default;
$button-hover-bg:        $base-action-hover-bg !default;

$button-active-color:     $base-action-active-color !default;
$button-active-bg:        $base-action-active-bg !default;

// Block
.button {
  appearance: none;
  background-color: $button-bg;
  border: $button-border;
  border-radius: $button-border-radius;
  color: $button-color;
  cursor: $button-cursor;
  display: inline-block;
  font-family: $button-font-family;
  -webkit-font-smoothing: antialiased;
  font-weight: $button-font-weight;
  line-height: $button-line-heigth;
  padding: $button-padding;
  text-align: $button-text-align;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  font-size: $button-font-size;

  // &:hover{
  //   color: $button-hover-color;
  //   background-color: $button-hover-bg;
  // }

  // Dimesions modifiers
  @each $name, $pair in $font-dimensions {
     @include modifier($name){
      font-size: nth($pair, 1);
    }
  }

  @include modifier(active){
    color: $button-active-color;
    background-color: $button-active-bg;
  }

  // Color modifiers
  @each $name, $value in $palette{
    @include modifier($name){
      background-color: nth($value, 1);
      color: nth($value, 2);
      &:hover{
        color: nth($value, 2);
        opacity: 0.8;
      }
    }
  }
}
