$buttons-font-family:     $base-font-family !default;
$buttons-font-size:       $base-font-size !default;
$buttons-font-weight:     600 !default;
$buttons-line-heigth:     1 !default;
$buttons-cursor:          pointer !default;
$buttons-border:          0 !default;
$buttons-border-radius:   $base-border-radius !default;
$buttons-text-transform:  none !default;
$buttons-text-align:      center !default;
$buttons-padding:         $small-spacing $base-spacing !default;
$buttons-bg:              $action-color !default;
$buttons-hover-bg:        shade($buttons-bg, 20%) !default;
$buttons-color:           contrast-switch($buttons-bg) !default;
$buttons-hover-color:     $buttons-color !default;


// Block
.button {
  appearance: none;
  background-color: $buttons-bg;
  border: $buttons-border;
  border-radius: $buttons-border-radius;
  color: $buttons-color;
  cursor: $buttons-cursor;
  display: inline-block;
  font-family: $buttons-font-family;
  -webkit-font-smoothing: antialiased;
  font-weight: $buttons-font-weight;
  line-height: $buttons-line-heigth;
  padding: $buttons-padding;
  text-align: $buttons-text-align;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  font-size: $buttons-font-size;

  &:hover{
    color: $buttons-hover-color;
  }

  // Dimesions modifiers
  @each $name, $pair in $font-dimensions {
     @include modifier($name){
      font-size: nth($pair, 1);
    }
  }

  // Color modifiers
  @each $name, $value in $palette{
    @include modifier($name){
      background-color: nth($value, 1);
      color: nth($value, 2);
      &:hover{
        color: nth($value, 2);
      }
    }
  }
}
