// Palette
$black:        #263238 !default;
$dark:         #2E3C43 !default;
$darken-grey:  #314549 !default;
$dark-grey:    #546E7A !default;
$grey:         #CCCCCC !default;
$light-grey:   #dee9ee !default;
$lighten-grey: #f4f8f9 !default;
$white:        #FFFFFF !default;
$red:          #E74C3C !default;
$orange:       #E67E22 !default;
$yellow:       #FFCB6B !default;
$green:        #C3E88D !default;
$turquoise:    #89DDFF !default;
$blue:         #3498DB !default;
$purple:       #9B59B6 !default;
$brown:        #be643c !default;

// Palette inverse
$black-inverse:        $white !default;
$dark-inverse:         $lighten-grey !default;
$darken-grey-inverse:  $light-grey !default;
$dark-grey-inverse:    $grey !default;
$grey-inverse:         $black !default;
$light-grey-inverse:   $dark-grey !default;
$lighten-grey-inverse: $darken-grey !default;
$white-inverse:        $black !default;
$red-inverse:          $white !default;
$orange-inverse:       $white !default;
$yellow-inverse:       darken($yellow, 50 )!default;
$green-inverse:        darken($green, 45 )!default;
$turquoise-inverse:    darken($turquoise, 50 )!default;
$blue-inverse:         $white !default;
$purple-inverse:       $white !default;
$brown-inverse:        $white !default;

// Custom Colors
$danger:      $red !default;
$info:        $blue !default;
$warning:     $yellow !default;
$success:     $green !default;


$palette:
  "black"         ($black, $black-inverse),
  "dark"          ($dark, $dark-inverse),
  "darken-grey"   ($darken-grey, $darken-grey-inverse),
  "dark-grey"     ($dark-grey, $dark-grey-inverse),
  "grey"          ($grey, $grey-inverse),
  "light-grey"    ($light-grey, $light-grey-inverse),
  "lighten-grey"  ($lighten-grey, $lighten-grey-inverse),
  "white"         ($white, $white-inverse),
  "red"           ($red, $red-inverse),
  "orange"        ($orange, $orange-inverse),
  "yellow"        ($yellow, $yellow-inverse),
  "green"         ($green, $green-inverse),
  "turquoise"     ($turquoise, $turquoise-inverse),
  "blue"          ($blue, $blue-inverse),
  "purple"        ($purple, $purple-inverse),
  "brown"         ($brown, $brown-inverse),
  "danger"        ($red, $red-inverse),
  "info"          ($blue, $blue-inverse),
  "warning"       ($yellow, $yellow-inverse),
  "success"       ($green, $green-inverse);
