$layout-body-margin:                $base-body-margin !default;
$layout-container-width:           $base-container-width !default;
$layout-mobile-container-width:    $base-mobile-container-width !default;
$layout-mobile-container-padding:  $base-mobile-container-padding !default;

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html, body{
  height: 100%;
  width: 100%;
}

body {
  margin: $layout-body-margin;
}

.container {
  margin: 0 auto;
  @include from($desktop) {
    width: $layout-container-width;
  }
  @include until($desktop) {
    width: $layout-mobile-container-width;
    padding: $layout-mobile-container-padding;
  }
  &.content{
    padding: 1.5rem 0 0;
    section:not(:first-child){
      margin-top: 1.5rem;
    }
    @include mobile {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.inner{
  min-height: calc(100vh - 100px);
}
