$lists-margin:          0 !default;
$lists-padding:         0 !default;
$list-style-type:       none !default;
$lists-dt-font-weight:  600 !default;

ol,
ul {
  list-style-type: $list-style-type;
  margin: $lists-margin;
  padding: $lists-padding;
}

dl {
  margin: $lists-margin;
}

dt {
  font-weight: $lists-dt-font-weight;
  margin: $lists-margin;
}

dd {
  margin: $lists-margin;
}
