$menu-item-color:                   $base-color !default;
$menu-item-radius:                  $base-border-radius !default;
$menu-item-hover-color:             $base-action-hover-color !default;
$menu-item-hover-bg:                $base-action-hover-bg !default;
$menu-item-active-color:            $base-action-active-color !default;
$menu-item-active-bg:               $base-action-active-bg !default;
$menu-list-border-left:             1px solid $base-border-color !default;
$menu-label-color:                  $base-color !default
$menu-font-size:                    $base-font-size !default;

.menu{
  font-size: $menu-font-size;
  padding: 0.5rem;
  @include element(list){
    a{
      border-radius: $menu-item-radius;
      color: $menu-item-color;
      display: block;
      padding: 0.5em;
      background-color: transparent;
      margin-bottom: 0.5rem;
      &:hover{
        color: $menu-item-hover-color;
        background-color: $menu-item-hover-bg;
      }

      // Modifiers
      &.active{
        background-color: $menu-item-active-bg;
        color: $menu-item-active-color;
      }
    }

    li{
      ul{
        border-left: $menu-list-border-left;
        margin: 0.75em;
        padding-left: 0.75em;
      }
    }
  }

  @include element(label){
    color: $menu-label-color;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    &:not(:first-child){ margin-top: 1em;}
    &:not(:last-child){ margin-bottom: 1em;}
  }

  @include modifier(small){ font-size: $small-font-size; }
  @include modifier(medium){ font-size: $medium-font-size; }
  @include modifier(large){ font-size: $large-font-size; }
}
