$typography-font-family:            $base-font-family !default;
$typography-line-height:            $base-line-height !default;

$typography-bg:                     $base-bg !default;
$typography-color:                  $base-color !default;

$typography-headings-font-family:   $base-font-family !default;
$typography-headings-font-weight:   600 !default;
$typography-headings-line-height:   1.2 !default;
$typography-headings-transform:     none !default;
$typography-headings-color:         $base-color !default;

$typography-link-color:             $base-link-color !default;
$typography-link-hover-color:       $base-link-hover-color !default;
$typography-link-font-weight:       $base-link-font-weight !default;
$typography-link-decoration:        $base-link-decoration !default;

html {
  font-family: $typography-font-family;
  font-size: 100%;
  line-height: $typography-line-height;
  background: $typography-bg;
}

body{
  background-color: $base-bg;
}

@for $i from 1 through 6 {
  .h--#{$i},
  h#{$i} {
    $index: $i;
    font-family: $typography-headings-font-family;
    font-weight: $typography-headings-font-weight;
    line-height: $typography-headings-line-height;
    text-transform: $typography-headings-transform;
    margin: 0 0 $small-spacing;
    color: $typography-headings-color;
    font-size: rem(modular-scale(6 - $index));
    @include mobile{
      font-size: rem(modular-scale(5 - $index));
    }
  }
}

p {
  color: $typography-color;
  margin: 0 0 $small-spacing;
}

a {
  color: $typography-link-color;
  font-weight: $typography-link-font-weight;
  text-decoration: $typography-link-decoration;
  transition: color $base-duration $base-timing;
  &:hover {
    color: $typography-link-hover-color;
    cursor: pointer;
  }
  &:focus {
    outline: $base-focus-outline;
    outline-offset: $base-focus-outline-offset;
  }
}

hr {
  @include _directional-property(border, null, 0 0 0 null);
  border-bottom: $base-border;
  margin: $base-spacing 0;
}

* {
  @include modifier(bold) {
    font-weight: bolder;
  }
}
// font size modifiers
@each $name, $value in $font-dimensions {
  .t--#{$name} {
    font-size: nth($value, 1);
  }
}
// Text alignments modifiers
@each $direction in $alignments {
  .t--#{$direction} {
    text-align: $direction;
  }
}
// Text colors modifiers
@each $name, $color in $palette {
  .t--#{$name}{
    color: nth($color, 1);
  }
  .bg--#{$name}{
    color: nth($color, 2);
    background: nth($color, 1);
  }
}

.t--float-right{
  float: right;
}
.t--float-left{
  float: left;
}
