$boxes-background-color:     $white !default;
$boxes-font-color:           $dark-grey !default;
$boxes-box-border-color:     $light-grey !default;
$boxes-box-border:           1px solid $boxes-box-border-color !default;
$boxes-box-background:       $white !default;
$boxes-box-gutter:           0.4em !default;
$boxes-box-width:            18em !default;
$boxes-box-color:            transparentize($boxes-font-color, 0.3) !default;
$boxes-box-top-colors:       $red, $turquoise, $purple, $yellow, $grey, $orange !default;

.flex-boxes {
  @include clearfix;
  align-items: stretch;
  clear: both;
  @include display-flex;
  @include flex-wrap(wrap);
  justify-content: center;
  text-align: center;

  .flex-box {
    align-self: stretch;
    background: $boxes-box-background;
    border-radius: $boxes-border-radius;
    box-shadow: inset 0 0 1px $boxes-box-border-color, 0 2px 4px darken($boxes-background-color, 10%);
    display: block;
    flex: 2 2 15em;
    margin: $boxes-box-gutter;
    padding: 2em 2em 3em;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    @for $i from 1 to 7 {
      // assign colors from $boxes-box-top-colors list

      &:nth-child(#{$i}) {
        $color-from-list: nth($boxes-box-top-colors, $i);
        border-top: 6px solid $color-from-list;

        &:focus,
        &:hover {
          background-color: transparentize($color-from-list, 0.9);
        }
      }
    }

    img {
      display: block;
      height: 3em;
      margin: 0 auto 1em;
      opacity: 0.4;
    }

    .flex-title {
      color: $boxes-box-color;
      font-size: 1.2em;
      margin-bottom: 0.5em;
    }

    p {
      color: transparentize($boxes-box-color, 0.1);
      line-height: 1.5em;
      margin: auto;
    }
  }

  .flex-box-big {
    flex: 1 1 40em;
  }
}
