$dropdown-menu-font-size:         $base-font-size;
$dropdown-items-color:            $darken-grey;
$dropdown-items-padding:          0.5rem 4rem 0.5rem 0.5rem;
$dropdown-items-bg:               $white;
$dropdown-items-hover-bg:         $light-grey;
$dropdown-menu-box-shadow:        0 4px 4px rgba(10, 10, 10, 0.1);
$dropdown-menu-box-border-radius: $base-border-radius;

.dropdown {
  display: inline-block;
  position: relative;
  .dropdown__item {
    display: inline-block;
    cursor: pointer;
    color: $dropdown-items-color;
    width: 100%;
    &:after {
      @include position(relative, null null null 0.5rem);
      @include fa-icon;
      content: $fa-var-angle-down;
    }
  }

  .dropdown__menu {
    display: none;
    @include position(absolute, 100% null null null);
    @include border-bottom-radius($dropdown-menu-box-border-radius);
    min-width: 100%;
    z-index: 1;
    background-color: $dropdown-items-bg;
    -webkit-box-shadow: $dropdown-menu-box-shadow;
    box-shadow: $dropdown-menu-box-shadow;
    font-size: $dropdown-menu-font-size;

    hr {
      margin: 0;
    }

    .dropdown__menu-item {
      @include display-flex;
      @include flex-grow(0);
      display: block;
      -webkit-box-align: center;
      align-items: center;
      flex-shrink: 0;
      cursor: pointer;
      color: $dropdown-items-color;
      padding: $dropdown-items-padding;
      &:hover {
        background-color: $dropdown-items-hover-bg;
      }
    }
  }

  &:hover {
    .dropdown__menu {
      display: block;
    }
  }

  .dropdown{
    @include clearfix;
    position: relative;
    width: 100%;
    display: inline-block;
    .dropdown__item {
      padding: $dropdown-items-padding;
      &:after {
        @include position(relative, 0 null null 100%);
        @include fa-icon;
        content: $fa-var-angle-right;
      }
      &:hover {
        background-color: $dropdown-items-hover-bg;
      }
    }
    .dropdown__menu{
      @include position(absolute, 0 null null 100%);
      display: none;
    }
    &:hover {
      .dropdown__menu {
        display: block;
      }
    }
  }

}
