// $footer-font-family:;
// $footer-font-size:;
// $footer-font-weigth:;
// $footer-text-transform:;
// $footer-padding:;
// $footer-bg:;
// $footer-color:;
// $footer-border:;



.footer {
  padding: 10px 0 5px;
  font-size: 8pt;
  text-align: center;
  border-top: 1px solid #ddd;
  color: black;
}
